@model List<user_crud_asp.net.Models.User>

    <h1>Users</h1>

    <table class="table table-dark rounded-2">
        <thead>
        <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">LastName</th>
        <th scope="col">Email</th>
        <th>Accions</th>
    </tr>
    </thead>
    <tbody>
        @foreach(var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Name</td>
                <td>@user.LastName</td>
                <td>@user.Email</td>
                <td class="d-flex gap-3">
                    <a asp-controller="User" asp-action="Edit" asp-route-id="@user.Id" class="btn btn-primary">Edit</a>
                    <form asp-controller="User" asp-action="Delete" asp-route-id="@user.Id">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
    </table>

<a asp-controller="User" asp-action="Create" class="btn btn-success mt-4">Create User</a>